:host {
  display: block;
}

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:host(:not([inert])) {
  position: fixed;
  overflow: auto;
  visibility: hidden;
  transition: transform .382s;
}

:host([position="top"]:not([inert])) {
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
}

:host([position="right"]:not([inert])) {
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
}

:host([position="bottom"]:not([inert])) {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

:host(:not([inert])),
:host([position="left"]:not([inert])) {
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
}

:host([open]:not([inert])),
:host([transition]:not([inert])) {
  visibility: visible;
}

:host([position="top"][open]:not([inert])),
:host([position="bottom"][open]:not([inert])) {
  transform: translateY(0);
}

:host([open]:not([inert])),
:host([position="right"][open]:not([inert])),
:host([position="left"][open]:not([inert])) {
  transform: translateX(0);
}
